<% @users.each do |user| %>
	<li>
		<% if current_user.followees.pluck(:followee_id).include?(user.id)
			 	value = "unfollow"
			else
			 	value = "follow" 
			end 
		%>
		<div>
			Name:<%= user.name %>&nbsp;<%= link_to value, url_for(controller: :home, action: value,followee_id: user.id), method: :get %>
			<br>
		Email:<%= user.email %>
		</div>
	</li>
<% end %>